<!DOCTYPE html>
<html>
<head>
    <title>Sampling Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .sampling-options {
            background-color: #f8f8f8;
            border-right: 1px solid #ddd;
            min-height: 100vh;
            padding: 20px;
        }

        .sampling-block {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sampling-options">
                <h3>Sampling Options</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'simple_random_sampling_input' %}">Simple Random Sampling</a></li>
                    <li><a href="{% url 'simple_random_sampling_input' %}">Simple Random Sampling</a></li>
                    <li><a href="{% url 'stratified_sampling_input' %}">Stratified Sampling</a></li>
                    <li><a href="{% url 'cluster_sampling_input' %}">Cluster Sampling</a></li>
                    <li><a href="{% url 'systematic_sampling_input' %}">Systematic Sampling</a></li>
                    
                    <li><a href="{% url 'purposive_sampling_input' %}">Purposive Sampling</a></li>
                </ul>
            </div>
            <div class="col-md-9 sampling-block">
                
                {% block samplings %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
