{% extends "base.html" %}





{% block samplings %}


<div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <h1>Select Samplings</h1>
      </div>
      <h3>Sampling Options</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'simple_random_sampling_input' %}">Simple Random Sampling</a></li>
                    <li><a href="{% url 'stratified_sampling_input' %}">Stratified Sampling</a></li>
                    <li><a href="{% url 'cluster_sampling_input' %}">Cluster Sampling</a></li>
                    <li><a href="{% url 'systematic_sampling_input' %}">Systematic Sampling</a></li>
                    
                    <li><a href="{% url 'purposive_sampling_input' %}">Purposive Sampling</a></li>
                </ul>
    </div>
</div>


{% endblock samplings %}