<!DOCTYPE html>
<html>

<head>
    <title>Dowell Search</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Dowell Search</h1>

    <label for="searchCount">Number of search criteria:</label>
    <input type="number" id="searchCount" min="0" value="0"><br>

    <div id="searchCriteria"></div><br>

    <!-- Add a new field for the user -->
    <label for="userField">Credentials data (Mandatory):</label>
    <input type="text" id="userField" required><br><br>

    <label for="jsonData">Upload JSON file:</label>
    <input type="file" id="jsonData" accept=".json"><br><br>

    <button id="searchButton">Search</button>

    <h2>Search Results</h2>
    <div id="searchResults"></div>

    <script>
        $(document).ready(function () {
            $('#searchCount').change(function () {
                var count = $(this).val();
                var searchCriteria = $('#searchCriteria');
                searchCriteria.empty();

                for (var i = 0; i < count; i++) {
                    var keyInput = $('<input type="text" placeholder="Key">');
                    var valueInput = $('<input type="text" placeholder="Value">');
                    searchCriteria.append('<br>Key: ');
                    searchCriteria.append(keyInput);
                    searchCriteria.append(' Value: ');
                    searchCriteria.append(valueInput);
                }
            });

            $('#searchButton').click(function () {
                var searchCount = $('#searchCount').val();
                var searchCriteria = [];

                for (var i = 0; i < searchCount; i++) {
                    var key = $('#searchCriteria input[placeholder="Key"]').eq(i).val();
                    var value = $('#searchCriteria input[placeholder="Value"]').eq(i).val();
                    searchCriteria.push({ key: key, value: value });
                }

                // Get the user field value
                var userField = $('#userField').val();

                var requestBody = {
                    search_count: parseInt(searchCount),
                    user_field: JSON.parse(userField)
                };

                for (var i = 0; i < searchCriteria.length; i++) {
                    requestBody['key' + i] = searchCriteria[i].key;
                    requestBody['value' + i] = searchCriteria[i].value;
                }

                var url = 'http://100102.pythonanywhere.com/api/dowell-search/';
                var formData = new FormData();
                if (document.getElementById('jsonData').files.length > 0) {
                    var jsonData = document.getElementById('jsonData').files[0];
                    formData.append('uploaded_data', jsonData);
                }

                fetch(url, {
                    method: 'POST',
                    body: JSON.stringify(requestBody),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(function (response) {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(function (data) {
                        var searchResults = $('#searchResults');
                        searchResults.empty();

                        if (data.length === 0) {
                            searchResults.append('<p>No results found.</p>');
                        } else {
                            for (var i = 0; i < data.length; i++) {
                                var result = $('<p>').text(JSON.stringify(data[i]));
                                searchResults.append(result);
                            }
                        }
                    })
                    .catch(function (error) {
                        console.error('Error:', error);
                    });

            });
        });
    </script>
</body>

</html>
