{% extends "base.html" %}
{% block samplings %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Systematic Sampling</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <form method="POST" action="{% url 'systematic_sampling' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="insertedId">Inserted ID:</label>
          <input type="text" class="form-control" id="insertedId" name="insertedId" required>
        </div>

        <div class="form-group">
          <label for="population">Population:</label>
          <input type="text" class="form-control" id="population" name="population" required>
        </div>

        <div class="form-group">
          <label for="populationSize">Population Size:</label>
          <input type="text" class="form-control" id="populationSize" name="populationSize" required>
        </div>

        <div class="form-group">
          <label for="data">Data:</label>
          <select class="form-control" id="data" name="data" required>
            <option value="api">API</option>
            <option value="upload">Upload</option>
          </select>
        </div>

        <div id="uploadContainer" style="display: none;">
          <label for="file">Upload File:</label>
          <input type="file" id="file" name="file" accept=".xlsx, .xls">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
  var dataSelectElement = document.getElementById("data");
  var uploadContainer = document.getElementById("uploadContainer");

  dataSelectElement.addEventListener("change", function () {
    if (dataSelectElement.value === "upload") {
      uploadContainer.style.display = "block";
    } else {
      uploadContainer.style.display = "none";
    }
  });
</script>
{% endblock samplings %}
